@import "styles/variable.scss";
@import "styles/mixin.scss";

.normal-player {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 150;
  background: $color-background;
  .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    filter: blur(20px);
  }
  .top {
    position: relative;
    margin-bottom: 25px;
    .back {
      position: absolute;
      top: 0;
      left: 6px;
      z-index: 50;
      .icon-back {
        display: block;
        padding: 9px;
        font-size: $font-size-large-x;
        color: $color-theme;
        transform: rotate(-90deg);
      }
    }
    .title {
      width: 70%;
      margin: 0 auto;
      line-height: 40px;
      text-align: center;
      @include no-wrap();
      font-size: $font-size-large;
      color: $color-text;
    }
    .subtitle {
      line-height: 20px;
      text-align: center;
      font-size: $font-size-medium;
      color: $color-text;
    }
  }
  .middle {
    position: fixed;
    width: 100%;
    top: 80px;
    bottom: 170px;
    white-space: nowrap;
    font-size: 0;
    .middle-l {
      display: inline-block;
      vertical-align: top;
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 80%;
    }
    .middle-r {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &.normal-enter {
    .top {
      transform: translate3d(0, -100px, 0);
    }
    .bottom {
      transform: translate3d(0, 100px, 0);
    }
  }
  &.normal-enter-active {
    .top,
    .bottom {
      transform: translate3d(0, 0, 0);
      transition: all 0.4s cubic-bezier(0.86, 0.18, 0.82, 1.32);
    }
  }
  &.normal-exit {
    .top,
    .bottom {
      transform: translate3d(0, 0, 0);
    }
  }
  &.normal-exit-active {
    .top {
      transform: translate3d(0, -100px, 0);
      transition: all 0.4s cubic-bezier(0.86, 0.18, 0.82, 1.32);
    }
    .bottom {
      transform: translate3d(0, 100px, 0);
      transition: all 0.4s cubic-bezier(0.86, 0.18, 0.82, 1.32);
    }
  }
  &.normal-exit-done {
    display: none;
  }
  &.normal-appear {
    opacity: 0.01;
  }
  &.normal-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;
  .dot-wrapper {
    text-align: center;
    font-size: 0;
    .dot {
      display: inline-block;
      vertical-align: middle;
      margin: 0 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color-text-l;
      &.active {
        width: 20px;
        border-radius: 5px;
        background: $color-text-ll;
      }
    }
  }
  .progress-wrapper {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    padding: 10px 0;
    .time {
      color: $color-text;
      font-size: $font-size-small;
      flex: 0 0 30px;
      line-height: 30px;
      width: 30px;
      &.time-l {
        text-align: left;
      }
      &.time-r {
        text-align: right;
      }
    }
    .progress-bar-wrapper {
      flex: 1;
    }
  }
  .operators {
    display: flex;
    align-items: center;
    .icon {
      flex: 1;
      color: $color-theme;
      &.disable {
        color: $color-theme-d;
      }
      i {
        font-size: 30px;
      }
    }
    .i-left {
      text-align: right;
    }
    .i-center {
      padding: 0 20px;
      text-align: center;
      i {
        font-size: 40px;
      }
    }
    .i-right {
      text-align: left;
    }
    .icon-favorite {
      color: $color-sub-theme;
    }
  }
}
