@import "styles/variable.scss";
@import "styles/mixin.scss";

.search-list {
  .search-item {
    display: flex;
    align-items: center;
    height: 40px;
    overflow: hidden;
    &.list-enter-active {
      transition: all 0.1s;
    }
    &.list-enter,
    &.list-exit-done {
      height: 0;
    }
    &.list-exit-active {
      height: 0;
      transition: all 0.1s;
    }
    .text {
      flex: 1;
      color: $color-text-l;
    }
    .icon {
      @include extend-click();
      .icon-delete {
        font-size: $font-size-small;
        color: $color-text-d;
      }
    }
  }
}
