@import "styles/variable.scss";
@import "styles/mixin.scss";

.lyric-wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  .text {
    line-height: 32px;
    color: $color-text-l;
    font-size: $font-size-medium;
    &.current {
      color: $color-text;
    }
  }
}
