@import "styles/variable.scss";
@import "styles/mixin.scss";

.loading {
  width: 100%;
  text-align: center;
  &__img {
    width: 24px;
    height: 24px;
  }
  &__desc {
    line-height: 20px;
    font-size: $font-size-small;
    color: $color-text-l;
  }
}
