@import "styles/variable.scss";
@import "styles/mixin.scss";

.nav {
  display: flex;
  height: 44px;
  line-height: 44px;
  font-size: $font-size-medium;
  &__item {
    flex: 1;
    text-align: center;
    &__text {
      padding-bottom: 5px;
      color: $color-text-l;
    }
  }
}

.selected {
  color: $color-theme;
  border-bottom: 2px solid $color-theme;
}
